.card {
  position: relative;
  padding: 8px, 8px, 16px, 8px;
  border-radius: 12px;
  padding: 8px 8px 16px 8px;
  backdrop-filter: blur(80px);
  background: rgba(32, 40, 62, 0.8);
}

.card__icon {
  margin-right: 4px;
}

.card__content {
  padding-left: 8px;
}


.card__icon {
  margin-right: 9px;
}

.card__favorite {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #7b6ef6;
}
