.title {
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #ebeef5;
}

.title__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8e95a9;
}
